body{
font-family:"Myriad Pro";
font-size:13px;
background:url(../image/header_top2.png) repeat-x #cfcfcf;
}

*{
padding:0px;
margin:0px;
}




.clr{
clear:both;
}
a{
border:none;
}
a img {
border:none;
}


.main{
width:1115px;
height:auto;
border:0px solid #FF0000;
margin:0 auto;
}



.hreader{
width:1115px;
height:auto;
float:left;
margin-top:10px;

}



.logo{
width:171px;
height:60px;
float:left;
margin-top:11px;
}

.sign_in{
width:500px;
height:auto;
float:right;
}
.sign_in h5{
color:#88c6f3;
font-size:13px;
font-weight:bold;
margin-top:8px;
float:left;
}

.user_name{
width:197px;
height:auto;
float:left;
margin-right:12px;
}
.user_name h4{
color:#FFFFFF;



}
.user_bar{
background:url(../image/user_name_back.png) no-repeat;
width:195px;
height:23px;
float:left;
margin-top:10px;
}

.bar{
background:none;
border:none;
padding:5px;
width:185px;
}
.check_box{

width:12px;
height:12px;
float:left;
margin-top:10px;
margin-right:10px;
}

.check_bar{
background:none;
border:none;
float:left;
width:12px;
height:12px;
}
.sign_button{
width:60px;
height:23px;
float:left;
margin-top:26px;
}

.main_contant{
width:1115px;
height:auto;
float:left;

}

.search_left {
    height: auto;
    margin-top: 28px;
    width: 605px;
	float:left;
}

.search_left h1{
color:#00335b;
font-size:48px;
font-family:"Myriad Pro";
margin-left:15px;


}

.search_left p{
font-family:"Myriad Pro";
margin-left:15px;
color:#007fda;
font-weight:normal;
font-size:24px;


}

.shadow{
background:url(../image/shadow_img.png) no-repeat;
width:605px;
height:auto;
float:left;
}
.rool{
background:url(../image/rool_img.png) no-repeat;
width:605px;
height:393px;
float:left;
margin-top:85px;
}

.search_nav{
width:605px;
height:auto;
float:left;
margin-top:20px;
}


.search_nav ul{
padding:0px;
margin:0px;
}


.search_nav ul li {
    float: left;
    font-size: 13px;
    font-weight: bolder;
    list-style: none outside none;
    padding: 0 0 0 34px;
}
.search_nav ul li a{
text-decoration:none;
color:#3f7da9;


}

.search_right_bar{
width:476px;
float:left;
height:auto;
margin-top:50px;
}


.search_right_bar h2{
color:#00335b;
font-size:36px;
float:left;
}

.search_right_bar h4 {
    color: #00335B;
    float: left;
    font-size: 27px;
    font-weight: normal;
    margin-top: 10px;
}

.full_name{
background:url(../image/sing_up_now_back.png) no-repeat;
width:473px;
height:33px;
float:left;
margin-top:10px;


}


.bar_name{
width:423px;
height:33px;
background:none;
padding:0px 8px 0px 8px;
border:none;
}

.button_sign {
    background: url("../image/sing_up_now_button.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    float: right;
    height: 46px;
    margin-top: 10px;
    width: 122px;
}











